<form #formElement clrForm [formGroup]="basicInfoForm" (ngSubmit)="onSubmit()" clrLayout="horizontal" clrLabelSize="3">
  <div class="clr-row">
    <div class="clr-col-2">
      <div class="profile-container">
        <div class="profile-picture">
          <img [src]="'no_image.png'" alt="Imagen de perfil" />
        </div>
        <div *ngIf="isEditable" class="file-input-wrapper">
          <clr-file-input-container clrButtonLabel="Seleccionar imagen" class="image-upload-box"  *ngIf="isEditable"  >
            <input
              type="file"
              formControlName="file"
              accept=".jpg,.jpeg,.png,image/jpeg,image/png"
              clrFileInput
              [clrMaxFileSize]="300000"
            />
            <clr-control-error *clrIfError="'accept'; let error = error">
              Solo se permite seleccionar imágenes (.jpg,.jpeg,.png)
            </clr-control-error>
            <clr-control-error *clrIfError="'maxFileSize'; let error = error">
              El archivo es muy grande (Máximo: 300KB)
            </clr-control-error>
          </clr-file-input-container>
        </div>
      </div>
    </div>
    <div class="clr-col-5">
      <clr-input-container>
        <label [class.clr-required-mark]="isEditable">Número de documento</label>
        <input clrInput formControlName="idNumber" />
        <clr-control-error>{{ requiredFieldError }}</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label [class.clr-required-mark]="isEditable">Nombres</label>
        <input clrInput formControlName="names" />
        <clr-control-error>{{ requiredFieldError }}</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label [class.clr-required-mark]="isEditable">Apellidos</label>
        <input clrInput formControlName="surnames" />
        <clr-control-error>{{ requiredFieldError }}</clr-control-error>
      </clr-input-container>

      <clr-date-container>
        <label>Fecha de nacimiento</label>
        <input type="date" autocomplete="off" clrDate formControlName="birthdate" required />
      </clr-date-container>

      <clr-input-container>
        <label>País de nacimiento</label>
        <input clrInput formControlName="birthCountry" />
      </clr-input-container>

      <clr-input-container>
        <label>País de residencia</label>
        <input clrInput formControlName="residenceCountry" />
      </clr-input-container>

      <clr-input-container>
        <label>Dirección</label>
        <input clrInput formControlName="address" />
      </clr-input-container>

      <clr-input-container>
        <label>Teléfono</label>
        <input type="tel" clrInput formControlName="phoneNumber" />
        <clr-control-error>{{ invalidFormatError }}</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Celular</label>
        <input type="tel" clrInput formControlName="cellphoneNumber" />
        <clr-control-error>{{ invalidFormatError }}</clr-control-error>
      </clr-input-container>

      <clr-input-container>
        <label>Email</label>
        <input type="email" clrInput formControlName="email" type="email" />
        <clr-control-error>{{ invalidFormatError }}</clr-control-error>
      </clr-input-container>

      <clr-radio-container>
        <label>Género</label>
        <clr-radio-wrapper *ngFor="let gender of memberFormValues.enums['gender'] || []">
          <input type="radio" clrRadio value="{{ gender.name }}" formControlName="gender" />
          <label>{{ gender.value }}</label>
        </clr-radio-wrapper>
      </clr-radio-container>

      <clr-select-container>
        <label>RH</label>
        <select clrSelect formControlName="rh" class="clr-w-100">
          <option [ngValue]="null">-- Seleccione una opción --</option>
          <option *ngFor="let bloodType of memberFormValues.enums['blood-type'] || []"
                  value="{{ bloodType.name }}">{{ bloodType.value }}</option>
        </select>
      </clr-select-container>

    </div>

    <div class="clr-col-5">
      <clr-input-container>
        <label>Libreta militar</label>
        <input clrInput formControlName="militaryService" />
      </clr-input-container>

      <clr-input-container>
        <label>Estudios completados</label>
        <input clrInput formControlName="studiesCompleted" />
      </clr-input-container>

      <clr-input-container>
        <label>Título obtenido</label>
        <input clrInput formControlName="degreeObtained" />
      </clr-input-container>

      <clr-input-container>
        <label>Otros estudios</label>
        <input clrInput formControlName="otherStudies" />
      </clr-input-container>

      <clr-input-container>
        <label>Empresa</label>
        <input clrInput formControlName="company" />
      </clr-input-container>

      <clr-input-container>
        <label>Ocupación</label>
        <input clrInput formControlName="occupation" />
      </clr-input-container>

      <clr-input-container>
        <label>EPS</label>
        <input clrInput formControlName="eps" />
      </clr-input-container>

      <clr-select-container>
        <label>Punto de predicación</label>
        <select clrSelect formControlName="preachingPointId" class="clr-w-100">
          <option [ngValue]="null">-- Seleccione una opción --</option>
          <option *ngFor="let point of memberFormValues.preachingPoints || []" [value]="point.id">{{ point.name }}</option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label [class.clr-required-mark]="isEditable">Rol actual</label>
        <select clrSelect formControlName="currentRole" class="clr-w-100" >
          <option [ngValue]="null">-- Seleccione una opción --</option>
          <option *ngFor="let role of memberFormValues.enums['role'] || []" value="{{ role.name }}">{{ role.value }}</option>
        </select>
        <clr-control-error>{{ requiredFieldError }}</clr-control-error>
      </clr-select-container>

      <clr-date-container>
        <label>Fecha de compromiso</label>
        <input clrDate formControlName="commitmentDate" />
      </clr-date-container>

      <clr-select-container>
        <label [class.clr-required-mark]="isEditable">Liderazgo de célula</label>
        <select clrSelect formControlName="cellLeadership" class="clr-w-100" required>
          <option [ngValue]="null">-- Seleccione una opción --</option>
          <option *ngFor="let cellLeadership of memberFormValues.enums['cell-leadership'] || []"
                  value="{{ cellLeadership.name }}">{{ cellLeadership.value }}</option>
        </select>
        <clr-control-error>{{ requiredFieldError }}</clr-control-error>
      </clr-select-container>

      <clr-select-container>
        <label>Pastor de zona</label>
        <select clrSelect formControlName="zonePastorId" class="clr-w-100">
          <option [ngValue]="null">-- Seleccione una opción --</option>
          <option *ngFor="let pastor of memberFormValues.zonePastors || []" [value]="pastor.id">{{ pastor.names }} {{ pastor.surnames }}</option>
        </select>
      </clr-select-container>

      <clr-select-container>
        <label [class.clr-required-mark]="isEditable">Liderazgo</label>
        <select clrSelect formControlName="leadership" class="clr-w-100">
          <option [ngValue]="null">-- Seleccione una opción --</option>
          <option *ngFor="let leadership of memberFormValues.enums['leadership'] || []" value="{{ leadership.name }}">
            {{ leadership.value }}</option>
        </select>
        <clr-control-error>{{ requiredFieldError }}</clr-control-error>
      </clr-select-container>

    </div>
  </div>

</form>
