<form clrForm [formGroup]="memberForm" (ngSubmit)="onSubmit()" clrLayout="horizontal" clrLabelSize="3">
  <div class="clr-row">
    <div class="clr-col-2">
      <div class="profile-container">
        <div class="profile-picture">
          <img [src]="'no_image.png'" alt="Imagen de perfil" />
        </div>
        <div *ngIf="isEditable" class="file-input-wrapper">
          <clr-file-input-container clrButtonLabel="Seleccionar imagen" class="image-upload-box"  *ngIf="isEditable"  >
            <input
              type="file"
              formControlName="file"
              accept=".jpg,.jpeg,.png,image/jpeg,image/png"
              clrFileInput
              [clrMaxFileSize]="300000"
            />
            <clr-control-success>Imagen correcta</clr-control-success>
            <clr-control-error *clrIfError="'accept'; let error = error">
              Solo se permite seleccionar imágenes (.jpg,.jpeg,.png)
            </clr-control-error>
            <clr-control-error *clrIfError="'maxFileSize'; let error = error">
              El archivo es muy grande (Máximo: 300KB)
            </clr-control-error>
          </clr-file-input-container>
        </div>
      </div>
    </div>
    <div class="clr-col-5">
      <clr-input-container>
        <label>Número de documento</label>
        <input clrInput formControlName="idNumber" required />
      </clr-input-container>

      <clr-input-container>
        <label>Nombres</label>
        <input clrInput formControlName="names" required />
      </clr-input-container>

      <clr-input-container>
        <label>Apellidos</label>
        <input clrInput formControlName="surnames" required />
      </clr-input-container>

      <clr-date-container>
        <label>Fecha de nacimiento</label>
        <input type="date" autocomplete="off" clrDate formControlName="birthdate" required />
      </clr-date-container>

      <clr-input-container>
        <label>País de nacimiento</label>
        <input clrInput formControlName="birthCountry" />
      </clr-input-container>

      <clr-input-container>
        <label>País de residencia</label>
        <input clrInput formControlName="residenceCountry" />
      </clr-input-container>

      <clr-input-container>
        <label>Dirección</label>
        <input clrInput formControlName="address" />
      </clr-input-container>

      <clr-input-container>
        <label>Teléfono</label>
        <input clrInput formControlName="phoneNumber" />
      </clr-input-container>

      <clr-input-container>
        <label>Celular</label>
        <input clrInput formControlName="cellphoneNumber" />
      </clr-input-container>

      <clr-input-container>
        <label>Email</label>
        <input clrInput formControlName="email" type="email" />
      </clr-input-container>

      <clr-radio-container>
        <label>Género</label>
        <clr-radio-wrapper *ngFor="let gender of memberEnums['gender'] || []">
          <input type="radio" clrRadio value="{{ gender.name }}" formControlName="gender" />
          <label>{{ gender.value }}</label>
        </clr-radio-wrapper>
      </clr-radio-container>

      <clr-select-container>
        <label>RH</label>
        <select clrSelect formControlName="rh">
          <option [ngValue]="null"></option>
          <option *ngFor="let bloodType of memberEnums['blood-type'] || []" value="{{ bloodType.name }}">{{ bloodType.value }}</option>
        </select>
      </clr-select-container>

    </div>

    <div class="clr-col-5">
      <clr-input-container>
        <label>Libreta militar</label>
        <input clrInput formControlName="militaryService" />
      </clr-input-container>

      <clr-input-container>
        <label>Estudios completados</label>
        <input clrInput formControlName="studiesCompleted" />
      </clr-input-container>

      <clr-input-container>
        <label>Título obtenido</label>
        <input clrInput formControlName="degreeObtained" />
      </clr-input-container>

      <clr-input-container>
        <label>Otros estudios</label>
        <input clrInput formControlName="otherStudies" />
      </clr-input-container>

      <clr-input-container>
        <label>Empresa</label>
        <input clrInput formControlName="company" />
      </clr-input-container>

      <clr-input-container>
        <label>Ocupación</label>
        <input clrInput formControlName="occupation" />
      </clr-input-container>

      <clr-input-container>
        <label>EPS</label>
        <input clrInput formControlName="eps" />
      </clr-input-container>

      <clr-input-container formGroupName="preachingPoint">
        <label>Punto de predicación</label>
        <input clrInput formControlName="name" />
      </clr-input-container>

      <clr-select-container>
        <label>Rol actual</label>
        <select clrSelect formControlName="currentRole">
          <option *ngFor="let role of memberEnums['role'] || []" value="{{ role.name }}">{{ role.value }}</option>
        </select>

      </clr-select-container>

      <clr-date-container>
        <label>Fecha de compromiso</label>
        <input clrDate formControlName="commitmentDate" />
      </clr-date-container>

      <clr-select-container>
        <label>Liderazgo de célula</label>
        <select clrSelect formControlName="cellLeadership">
          <option *ngFor="let cellLeadership of memberEnums['cell-leadership'] || []"
                  value="{{ cellLeadership.name }}">{{ cellLeadership.value }}</option>
        </select>
      </clr-select-container>

      <clr-input-container>
        <label>Pastor de zona</label>
        <input clrInput formControlName="zonePastor" />
      </clr-input-container>

      <clr-select-container>
        <label>Liderazgo</label>
        <select clrSelect formControlName="leadership">
          <option *ngFor="let leadership of memberEnums['leadership'] || []" value="{{ leadership.name }}">
            {{ leadership.value }}</option>
        </select>
      </clr-select-container>

      <clr-input-container>
        <label>Estado</label>
        <input clrInput formControlName="status" />
      </clr-input-container>
    </div>
  </div>

</form>
