<div class="login-wrapper">
  <form class="login" [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="login-header">
      <div class="login-header__logo-belen"></div>
    </div>
    <div class="login-body">
      <section class="title">
        <div class="welcome">Bienvenidos al</div>
        Templo Belen
        <div class="hint">Sistema de gestion de miembros</div>
      </section>
      <div class="login-group">
        <clr-input-container>
          <label class="clr-sr-only">E-mail</label>
          <input
            type="text"
            autocomplete="username"
            name="username"
            clrInput
            placeholder="Ingrese su usuario"
            formControlName="username"
          />
        </clr-input-container>
        <clr-password-container>
          <label class="clr-sr-only">Password</label>
          <input
            type="password"
            autocomplete="current-password"
            name="password"
            clrPassword
            placeholder="Ingrese la contraseña"
            formControlName="password"
          />
        </clr-password-container>
        @if (hasError()) {
          <div class="error active">{{errorMsg()}}</div>
        }
        <button type="submit" [disabled]="isInvalid()"  class="btn btn-primary">Log in</button>
      </div>
    </div>
  </form>
</div>
