.login-wrapper {
  .login {
    .login-header {
      &__logo-belen {
        height: 32px;
        width: 100%;
        background-image: url("/../../Isotipo-TB.png");
        background-repeat: no-repeat;
        background-size: 64px 32px;
      }
    }
  }
}
