.mt-4 {
  margin-top: 2rem;
}

table {
  width: 100%;

  input {
    width: 100%;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
  }
}

td {
  vertical-align: middle;
  padding: 0.5rem;
}

.question-txt {
  width: 80%;
  resize: none !important;
}
