<div class="container p-2">
    <form clrForm (ngSubmit)="onSubmit()">

      <div class="clr-row mt-4">
        <div class="clr-col-12">
          <table class="table">
            <thead>
              <tr>
                <th class="center">Tiempo</th>
                <th class="center">Iglesia</th>
                <th class="center">Pastor</th>
                <th class="center">Retiro</th>
                <th class="center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reference of churchReferences; let i = index">
                <td>
                  <clr-date-container>
                    <input 
                    type="date" 
                    clrDate [(ngModel)]="reference.time" 
                    [name]="'time' + i" />
                  </clr-date-container>
                </td>
                <td>
                  <input 
                  clrInput type="text" 
                  [(ngModel)]="reference.churchName"
                  [name]="'churchName' + i" 
                  placeholder="Nombre de iglesia" />
                </td>
                <td>
                  <input 
                  clrInput type="text" 
                  [(ngModel)]="reference.leadPastorName" 
                  [name]="'leadPastorName' + i" 
                  placeholder="Pastor lider" />
                </td>
                <td>
                  <input 
                  clrInput type="text" 
                  [(ngModel)]="reference.reasonForLeaving" 
                  [name]="'reasonForLeaving' + i" 
                  placeholder="Razón de retiro" />
                </td>
                <td class="action-column">
                  <button 
                  *ngIf="i === churchReferences.length - 1 " 
                  type="button" class="btn btn-sm btn-icon" 
                  (click)="addReference()">
                  <cds-icon shape="plus"></cds-icon>
                  </button>
                  <button 
                  *ngIf="i !== churchReferences.length - 1 " 
                  type="button" class="btn btn-sm btn-icon" 
                  (click)="removeReference(i)">
                  <cds-icon shape="minus"></cds-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="clr-row mt-4">
        <div class="clr-col-10">
          <clr-textarea-container>
            <label class="single-line">Razones por las cuales decidió congregarse en Templo Belen:</label>
             <textarea class="text-box" clrTextarea [formControl]="reasonsForJoining" rows="4"></textarea>
          </clr-textarea-container>
        </div>
      </div>

      
      <div class="clr-row mt-4">
        <div class="clr-col-12 text-right">
          <button type="button" class="btn btn-outline">Cancelar</button>
          <button type="submit" class="btn btn-primary ml-2">Guardar</button>
        </div>
      </div>
    </form>
  </div>
  