<div class="clr-row">
  <div class="clr-col-12">
    @switch (selected()) {
      @case ("basicInfo") {
        <app-basic-info-member-details [inputModel]="selectedMember().memberBasicInfo" [isEditable]="isEditable()"/>
      }
      @case ("familyInfo") {
        <app-family-info-member-details/>
      }
      @case ("generalInfo") {
        <app-general-info-member-details/>
      }
      @case ("references") {
        <app-references-member-details/>
      }
      @case ("dewInfo") {
        <app-dew-info-member-details/>
      }
      @default {
        <app-basic-info-member-details [inputModel]="selectedMember().memberBasicInfo" [isEditable]="isEditable()"/>
      }
    }
  </div>
</div>


