<div class="details-main-container">
  <header class="header">
    <div class="details-header">
      <span class="title">{{memberName}}</span>
      <button type="button" class="btn btn-outline" (click)="handleClose()">Cerrar</button>
    </div>
  </header>
<div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink [routerLink]="['./basic-info']" routerLinkActive="active" (click)="onLinkClick($event, './basic-info')" [class.disabled]="isEditable">
        <cds-icon clrVerticalNavIcon shape="user" ></cds-icon>
        Datos Personales
      </a>
      <a clrVerticalNavLink [routerLink]="['./family-info']" routerLinkActive="active" (click)="onLinkClick($event, './family-info')" [class.disabled]="isEditable">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        Datos Familiares
      </a>
      <a clrVerticalNavLink [routerLink]="['./general-info']" routerLinkActive="active" (click)="onLinkClick($event, './general-info')" [class.disabled]="isEditable">
        <cds-icon clrVerticalNavIcon shape="details"></cds-icon>
        Datos Generales
      </a>
      <a clrVerticalNavLink [routerLink]="['./references']" routerLinkActive="active" (click)="onLinkClick($event, './references')" [class.disabled]="isEditable">
        <cds-icon clrVerticalNavIcon shape="book"></cds-icon>
        Referencias
      </a>
      <a clrVerticalNavLink [routerLink]="['./dew-info']" routerLinkActive="active" (click)="onLinkClick($event, './dew-info')" [class.disabled]="isEditable">
        <cds-icon clrVerticalNavIcon shape="world"></cds-icon>
        DEW
      </a>
    </clr-vertical-nav>
  <div class="details-content-area">
      <div class="clr-row">
        <div class="clr-col-2">
          <div cds-text="subsection bold">{{ currentTabTitle }}</div>
        </div>
        <!-- Edit member button -->
        <div class="clr-col-8 edit-member-button" *ngIf="!isEditable">
          <button role="button" (click)="toggleEditMode()" class="btn btn-secondary">
            <cds-icon shape="pencil"></cds-icon>
          </button>
        </div>
        <!-- Save / Cancel buttons -->
        <div class="clr-col-8 edit-member-actions" *ngIf="isEditable">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">Cancelar</button>
        </div>
      </div>

    <router-outlet></router-outlet>
  </div>
</div>
