.details-header {
  display: flex;
  flex: 0 0 auto;
  min-width: calc(204*(1rem/var(--cds-global-base)));
  padding: 0 var(--cds-global-space-7);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.details-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--clr-global-app-background);
}

.details-content-area {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
