<clr-main-container>
  <clr-header>
    <div class="branding">
      <a routerLink="/app">
        <img src="logo.png" alt="Logo" height="32" />
        <span class="title">Templo Belén</span>
      </a>
    </div>
    <div class="header-nav">
    </div>
    <div class="header-actions clr-align-items-center">
      <!-- TODO: add feature flagging -->
      <button type="button" class="btn btn-info"  (click)="userAdminDialog?.openModal()">
        Administrar Usuarios
      </button>
      <app-user-admin-dialog />
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger [title]="currentUser().fullName">
          <app-avatar [name]="currentUser().fullName!" [size]="40"></app-avatar>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <button clrDropdownItem (click)="logout()">Cerrar sesión</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <main class="content">
    <router-outlet />
  </main>
</clr-main-container>
