.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--clr-global-app-background);
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 50px;
  overflow: hidden;
  position: relative;
}

.header-actions > .dropdown > .dropdown-toggle:before {
  position: initial;
}
