<div>
  <clr-vertical-nav>
    <a clrVerticalNavLink routerLink="./basic-info" routerLinkActive="active">Datos Personales</a>
    <a clrVerticalNavLink routerLink="./family-info" routerLinkActive="active">Datos Familiares</a>
    <a clrVerticalNavLink routerLink="./general-info" routerLinkActive="active">Datos Generales</a>
    <a clrVerticalNavLink routerLink="./references" routerLinkActive="active">Referencias</a>
    <a clrVerticalNavLink routerLink="./dew-info" routerLinkActive="active">DEW</a>
  </clr-vertical-nav>
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>
