clr-input-container, clr-textarea-container {
    margin-top: 0.5rem;
  }
  
  .clr-input, .clr-textarea {
    width: 100% !important;
  }
  .mt-4 {
    margin-top: 2rem;
  }

  .single-line {
    white-space: nowrap;
  }

  .text-box {
    margin-top: 25px;
    width: max-content;

  }
  

  