<div class="limit-height">
<div *ngIf="isLoading();">
<clr-progress-bar clrValue="75" clrLoop></clr-progress-bar>
<h4>Progress Bar</h4>
</div>
  <div *ngIf="membersList().length > 0;">
  <clr-datagrid>
  <clr-dg-column class="icon-column"></clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Cedula</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Nombre</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Fecha de nacimiento</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Pais de nacimiento</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Pais de residencia</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Ocupacion</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Rol en la Igelsia</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Pastor de zona</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Es Pastor?</ng-container>
    </clr-dg-column>
    <clr-dg-column>
      <ng-container *clrDgHideableColumn="{ hidden: false }">Es lider de celula?</ng-container>
    </clr-dg-column>

    <clr-dg-row *clrDgItems="let member of membersList()">
    <clr-dg-cell class="icon-cell">
 <cds-icon shape="detail-expand"
                    class="detail-icon"
                    (click)="onDetailIconClick(member.id,  member.names + ' ' + member.surnames, $event)">
          </cds-icon>
          </clr-dg-cell>
      <clr-dg-cell>{{ member.idNumber }}</clr-dg-cell>
      <clr-dg-cell>{{ member.names + " " + member.surnames }}</clr-dg-cell>
      <clr-dg-cell>{{ member.birthdate | date }}</clr-dg-cell>
      <clr-dg-cell>{{ member.birthCountry}}</clr-dg-cell>
      <clr-dg-cell>{{ member.residenceCountry}}</clr-dg-cell>
      <clr-dg-cell>{{ member.occupation}}</clr-dg-cell>
      <clr-dg-cell>{{ member.currentRole}}</clr-dg-cell>
      <clr-dg-cell>{{ member.zonePastor}}</clr-dg-cell>
      <clr-dg-cell>{{ member.isPastor }}</clr-dg-cell>
      <clr-dg-cell>{{ member.isCellLeader }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="20">
        <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Miembros por pagina</clr-dg-page-size>
        {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de
        {{ pagination.totalItems }} miembros
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
              </div>
<ng-template #loading>Loading data...</ng-template>
</div>

