<div class="details-main-container">
  <header class="header">
    <div class="details-header">
      <span
        class="title">{{ selectedMember().memberBasicInfo.names + ' ' + selectedMember().memberBasicInfo.surnames }}</span>
      <button type="button" class="btn btn-outline" (click)="handleClose()">Cerrar</button>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink (click)="select('basicInfo')">
        <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
        Datos Personales
      </a>
      <a clrVerticalNavLink (click)="select('familyInfo')">
        <cds-icon clrVerticalNavIcon shape="home"></cds-icon>
        Datos Familiares
      </a>
      <a clrVerticalNavLink (click)="select('generalInfo')">
        <cds-icon clrVerticalNavIcon shape="details"></cds-icon>
        Datos Generales
      </a>
      <a clrVerticalNavLink (click)="select('references')">
        <cds-icon clrVerticalNavIcon shape="book"></cds-icon>
        Referencias
      </a>
      <a clrVerticalNavLink (click)="select('dewInfo')">
        <cds-icon clrVerticalNavIcon shape="world"></cds-icon>
        DEW
      </a>
    </clr-vertical-nav>
    <div class="details-content-area">
      <div class="clr-row">
        <div class="clr-col-2">
          <div cds-text="subsection bold">{{ currentTabTitle }}</div>
        </div>
        <div class="clr-col-10 edit-member-button">
          <!-- Edit member button -->
          <button role="button" (click)="toggleEditMode()" *ngIf="!isEditable" class="btn btn-secondary">
            <cds-icon shape="pencil"></cds-icon>
          </button>
          <!-- Save / Cancel buttons -->
          @if(isEditable) {
            <button type="submit" class="btn btn-primary" (click)="updateModel()" >Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">Cancelar</button>
          }
        </div>
      </div>
      <app-member-details [selected]="selected" [operation]="operation" [isEditable]="isEditable"/>
    </div>
  </div>
</div>


