<form clrForm [formGroup]="generalInfoForm" (ngSubmit)="onSubmit()" clrLayout="horizontal" clrLabelSize="3">
  <div class="clr-row">
    <div class="clr-col-6">
      <clr-date-container>
        <label>Fecha de conversión</label>
        <input type="date" autocomplete="off" clrDate formControlName="conversionDate"/>
      </clr-date-container>

      <clr-date-container>
        <label>Fecha de bautizo en agua</label>
        <input type="date" autocomplete="off" clrDate formControlName="baptismDate"/>
      </clr-date-container>

      <clr-date-container>
        <label>Fecha de bautizo del Espiritu Santo</label>
        <input type="date" autocomplete="off" clrDate formControlName="baptismHolySpiritDate"/>
      </clr-date-container>

      <clr-input-container>
        <label>Nombre del pastor que lo bautizó</label>
        <input clrInput formControlName="baptismPastorName"/>
      </clr-input-container>

      <clr-date-container>
        <label>Miembro activo desde</label>
        <input type="date" autocomplete="off" clrDate formControlName="activeMemberSince"/>
      </clr-date-container>
    </div>

    <div class="clr-col-6">
      <clr-input-container>
        <label>Lugar de conversión</label>
        <input clrInput formControlName="conversionPlace"/>
      </clr-input-container>

      <clr-input-container>
        <label>Lugar de bautizo en agua</label>
        <input clrInput formControlName="baptismPlace"/>
      </clr-input-container>

      <clr-input-container>
        <label>Lugar de bautizo del Espiritu Santo</label>
        <input clrInput formControlName="baptismHolySpiritPlace"/>
      </clr-input-container>

      <clr-input-container>
        <label>Denominación del bautizo</label>
        <input clrInput formControlName="baptismDenomination"/>
      </clr-input-container>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-12">
      <clr-textarea-container>
        <label>¿Cómo aceptó al Señor?</label>
        <textarea clrTextarea formControlName="acceptanceComment" class="question-txt"></textarea>
      </clr-textarea-container>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-6">
      <clr-date-container>
        <label>Fecha del retiro de Templo Belén</label>
        <input type="date" autocomplete="off" clrDate formControlName="leavingDate"/>
      </clr-date-container>
    </div>
    <div class="clr-col-6">
      <clr-select-container>
        <label>Motivo del retiro de Templo Belén</label>
        <select clrSelect formControlName="leavingReason">
          <option [ngValue]="null"></option>
          <option *ngFor="let leavingReason of memberEnums['leaving-reason'] || []"
                  value="{{ leavingReason.name }}">{{ leavingReason.value }}
          </option>
        </select>
      </clr-select-container>
    </div>
  </div>

  <div class="clr-row">
    <div class="clr-col-12">
      <clr-textarea-container>
        <label>Descripción del retiro de Templo Belén</label>
        <textarea clrTextarea formControlName="leavingReasonDescription" class="question-txt"></textarea>
      </clr-textarea-container>
    </div>
  </div>

</form>
