<div class="new-member-button">
  <button class="btn btn-primary" (click)="openNewMemberWizard()">
    <cds-icon shape="plus"></cds-icon>
    Crear Membresía
  </button>
</div>
<app-new-member-wizard #newMemberWizard></app-new-member-wizard>

<app-members-list [membersList]="membersList()" [isLoading]="isLoading" (onSelection)="openModal()"/>
<clr-modal [(clrModalOpen)]="isModalOpen" [clrModalSize]="'full-screen'" [clrModalClosable]="false">
  <div class="modal-body">
    <app-member-showcase (closeModal)="closeModal()" />
  </div>
</clr-modal>
